<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>{{title}}</h1>
        <nav>
            <a href="/">Список викладачів</a>
            <a href="/add">Додати викладача</a>
            <a href="/api/teachers">📄JSON</a>
        </nav>
        <hr>