# Залежності Node.js
node_modules/

# Змінні оточення (де можуть зберігатися паролі)
.env

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файли IDE (наприклад, для VS Code)
.vscode/
.idea/

# Файли ОС
.DS_Store
Thumbs.db