{{> header}}

<form method="POST">
    <label>Прізвище:</label>
    <input type="text" name="surname" value="{{teacher.surname}}" required>

    <label>Посада:</label>
    <input type="text" name="position" value="{{teacher.position}}" required>

    <label>Ступінь:</label>
    <select name="degree" required>
        <option value="доктор наук" {{#if (eq teacher.degree "доктор наук")}}selected{{/if}}>доктор наук</option>
        <option value="кандидат наук" {{#if (eq teacher.degree "кандидат наук")}}selected{{/if}}>кандидат наук</option>
        <option value="без ступеня" {{#if (eq teacher.degree "без ступеня")}}selected{{/if}}>без ступеня</option>
    </select>

    <label>Номер аудиторії:</label>
    <input type="text" name="roomNumber" value="{{teacher.roomNumber}}" required>

    <button type="submit">Оновити</button>
</form>

<a href="/" class="back-link">← На головну</a>

{{> footer}}